.wrapper {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}


/* PURPLE RECOVERY */

.PurpleRec {
position: static;
width: 317px;
height: 40px;
overflow: hidden;

font-family: Encode Sans;
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 40px;
/* identical to box height */


color: #4B2D83;
}
.PurpleRec a {
  float: left;
  color: #4B2D83;
  text-align: center;
}

/* clearfix for the img with the button */
.img1 {
  float: left;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.button3 {
  border-radius: 8px; /*makes the button edge rounded*/
  padding: 9px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 150px;
}

.card {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;

}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the counter cards || all the cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 12px 16px;
  text-align: center;
  background-color:#BBAFD0;
}
.container {
  padding: 2px 16px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


/* Resource */
.Resource {
/* position: absolute; */
width: 122px;
height: 30px;

font-family: Encode Sans;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #4B2D83;
}

.Responses {
  /* Responses */
width: 128px;
height: 30px;

/* primary headline */

font-family: Encode Sans;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #4B2D83;
}

.Community {

width: 139px;
height: 30px;

font-family: Encode Sans;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #4B2D83;
}
/* banner */
.danger {
  float: right;
  transform: skew(180deg);
  color: white;
  background-color: #B6A579;
  border-left: 20px solid  #B6A579;
  border-right: 79px solid #B6A579;
}

/* The arrow for the golden banner */
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}