.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submission-success-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.modal-blur {
  backdrop-filter: blur(2px);
  background-color: rgb(51, 0, 111, 0.5); 
}

.close-button {
  background-color: white;
  border: none;
  display: flex;
}

#form {
  font-family: 'Open Sans', sans-serif;
  padding: 20;
}

/* Float columns side by side */
.column {
  float: left;
  width: 30%;
  padding-left: 45px;
  border: none;
  border: 0;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 20px;
}

#name-field {
  padding-top: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: none;
  clear: both;
}

/* Error message styling */
.error-message {
  color: #ed4747;
  font-size: 10pt;
}

/* Input label styling */
.form-label {
  font-weight: normal;
  font-size: 12pt;
  padding: 0px;
  padding-top: 10px;
}

input, select {
  padding: 5px;
}