body {
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  color: #452e83;
  font-family: 'Encode Sans', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.ourBreadcrumb {
  margin: 15px;
  margin-left: 40px;
  background-color: none;
  white-space: nowrap;
  margin-bottom: 0px;
}

.purpleBar {
  width: 200px;
  height: 15px;
  /* margin-bottom: 10px; */
}

.headliner{
  /* padding: 15px;
  padding-left: 40px; */
  margin: 15px;
  margin-left: 40px;
  /* margin-bottom: -20px; */
  margin-bottom: 20;
  font-family: 'Encode Sans', sans-serif;
  font-size: 36px;
}

.headliner h1 {
  margin-bottom: -15px;
}

.headliner2 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 26px;
}

.linkCluster, .link {
  margin: 15px;
  margin-left: 40px;
}

.sectionPageNav {
  padding: 15px;
  position: fixed;
  top: 100px;
  right: 40px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#show-form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(51, 0, 111, 0.8);
}

#form {
  font-family: 'Open Sans', sans-serif;
  padding: 20
}

/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding-left: 40px;
  border: none;
  border: 0;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-top: 20px;
}

#name-field {
  padding-top: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: none;
  clear: both;
}

.breadcrumbArrow {
  padding: 0px;
  margin-bottom: 0px;
}

.ourBreadcrumb > a, .ourBreadcrumb > p {
  display: inline-block;
  padding-bottom: 0px;
}

.mainHeader {
  padding: 15px;
  margin-left: 25px;
}

.mainHeaderMain {
  font-size: 34px;
  /* margin: 15px; */
}

.mainHeaderSubtitle {
  font-size: 20px;
  color: #452e83;
  font-family: 'Encode Sans', sans-serif;
  padding: 0px; 
  /* margin: 15px; */
}

.goldBar {
  width: 500px;
  height: 25px;
  position: fixed;
  right: 0px;
  top: 20px;
}

.bannerText {
  position: fixed;
  right: 70px;
  top: 20px;
}


/* Stuff for dashboard layout */ 
html, body, #root, .homepage {
  height: 100%;
}

.homepage {
  margin-left: 40px;
  margin-right: 40px;
}

.section {
  outline-style: solid;
  color: #b7a57a;
}

.h-90 {
  height: 90%
}

.h-10 {
  height: 10%
}